<html>
	<head>
		<title>
			Choose Students
		</title>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
		<link rel="stylesheet" href="/static/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>{{eventid}}</h1>
		<table>
			<thead>
				<tr>
					<th>Student</th>
					<th>Heat</th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
						<td>{{ student[0] }}</td>
						<td>
							<input class="heatinput" value="{{ student[2] }}" type="value", min=1, id="inputNumber{{ student[3] }}">
							<button class="fa fa-plus-square changebutton" id="plusButton{{ student[3] }}"></button>
							<button class="fa fa-minus-square changebutton" id="minusButton{{ student[3] }}"></button>
							<button class="fa fa-times-circle changebutton" id="clearButton{{ student[3] }}"></button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
	<script>
		{% for student in students %}
		plusButton{{ student[3] }}.onclick = function () {
			inputNumber{{ student[3] }}.value=Number(inputNumber{{ student[3] }}.value)+1;
		}
		minusButton{{ student[3] }}.onclick = function () {
			if (Number(inputNumber{{ student[3] }}.value) > 1) {
				inputNumber{{ student[3] }}.value=Number(inputNumber{{ student[3] }}.value)-1;
			}
		}
		clearButton{{ student[3] }}.onclick = function () {
			inputNumber{{ student[3] }}.value="";
		}
		{% endfor %}
		function saveButton () {
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/savestudents/{{eventid}}", true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(
				JSON.stringify(
					{
						{% for student in students %}
							"{{ student[1] }}": inputNumber{{ student[3] }}.value,
						{% endfor %}
					}
				)
			);
		}
	</script>
</html>