<html>
	<head>
		<title>
			Choose Students
		</title>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
		<link rel="stylesheet" href="/static/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1><a href="#" title="{{ eventid }}" style="text-decoration:none;color:black">{{ eventname }}</a></h1>
		<table>
			<thead>
				<tr>
					<th>Student</th>
					<th>Time</th>
					<th>Rank</th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
						<td>
							<a href="#" title="{{ student[1] }}" style="text-decoration:none;color:black">{{ student[0] }}</a>
						</td>
						<td>
							{{ student }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<button onclick="save()">Save!</button>
	</body>
	<script>
		function save () {
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/api/savestudents/{{eventid}}", true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(
				JSON.stringify(
					{
						{% for student in students %}
							"{{ student[1] }}": inputNumber{{ student[3] }}.value,
						{% endfor %}
					}
				)
			);
		}
	</script>
</html>